<div class="row">
    <div class="content-container aboutme-container">
        <div class="img-container">
            <img class="featimg-headshot" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/headshot.jpg" alt="headshot">
        </div>
        <div class="text-container">
            <h1 class="page-title">
                Moran Tsur
            </h1>
            <div class="post-content">
                I am a graduate student and a research assistant in the <a class="bold-link" href="http://www.media.mit.edu/llk">Lifelong Kindergarten group</a> at the <a class="bold-link" href="http://media.mit.edu">MIT Media Lab</a>, working on building creative learning experiences for children. I'm part of the Scratch team, which develops <a class = "bold-link" href="http://scratch.mit.edu">Scratch</a> - a programming environment and an online community where children create their own interactive stories, animations and games.

                <br></br>

                I'm a software engineer, and a passionate educator, seeking varied opportunities to make education better through the use of technology. Some of my topics of interest include designing for creative learning, girls and women in tech, internal motivation, supporting educators and designing for equity and equality.

                <br></br>

                In the past I worked as a software engineer at Google and I hold a B.Sc. in Computer Science & Cognitive Science from the Hebrew University of Jerusalem.
            </div>
        </div>
    </div>
  </div>
</div>
