<h3 class="project-title-container"><a id="contact" class="projects">Contact Me</a></h3>
<div class="contactme">
  <div class="row">
    <div class="form-container">
		<div> 
			<p style="margin-bottom: 1em"> I would love to hear from you! </p>
		</div>
      <form action="https://formspree.io/morant@media.mit.edu" role="form" method="POST" autocomplete="on">
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="text" name="name" class="form-control form-input" placeholder="Full name" required>
        </div>

        <div class="form-group">
          <label for="_replyto">Your Email</label>
          <input type="email" name="_replyto" class="form-control form-input" placeholder="Email" required>
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" name="message" class="form-control" rows="4" width="100%" placeholder="Message" required></textarea>
        </div>

        <div>
          <input type="submit" class="btn btn-primary" value="Send">
          <input type="hidden" name="_subject" value="New submission!" />
        </div>
      </form>
      <a class='social linkedin' href='https://linkedin.com/in/morantsur' target="_blank">
        <i class='fa fa-linkedin fa-2x'></i>
      </a>
      <a class='social github' href='https://github.com/moran-tsur' target="_blank">
        <i class='fa fa-github fa-2x'></i>
      </a>
      <a class='social email' href='mailto:morant@media.mit.edu?Subject=Website Contact' target="_top">
        <i class='fa fa-envelope fa-2x'></i>
      </a>
    </div>
  </div>
</div>