<!-- menu, we did go with a static one, you can build a dynamic one, just google a little around -->
<div class="main-menu">
    <div class="content">
        <nav id="menu">
            <a class="toggle-link noline"><i class="fa fa-close fa-lg"></i></a>
            <ul>
                <li>
                    <a class="homelink logo" href="{{ site.baseurl | replace: '//', '/' }}/">Moran Tsur</a>
                </li>
                <li>
                    <a class="homelink" href="{{ site.baseurl | replace: '//', '/' }}/">About Me</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/#current">Current Projects</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/#past">Past Projects</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/#contact">Contact Me</a>
                </li>
            </ul>
        </nav>
    </div>
</div>