<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        <header class="head">
            {% include header.html %}
            {% include nav.html %}
        </header>
        {% include search.html %}
        <div class="margin">
            <div class="content full">
                <div class="content-container">
                    <article>
                        {% if page.type == "image" or page.type == "gallery" %}
                            {% if page.featimg %}
                                {% if page.show-bottom %}
                                    <div class="featimg-container flip">
                                        <img class="featimg flip" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                                    </div>
                                {% else %}
                                    <div class="featimg-container">
                                        <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% elsif page.type == "audio" %}
                            {% if page.audio-embed %}
                                {{ page.audio-embed }}
                            {% endif %}
                        {% endif %}

                        <h1 class="post-title">
                            {{ page.title }}
                        </h1>
                        {% if page.type == "standard" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% endif %}
                        <div class="post-content">
                            {{ content }}
                            {% include extra_media.html %}
                        </div>
                        
                        {% if page.type == "vimeo" %}
                            {% if page.vimeo-embed %}
                                <div class="video-container-full-page">
                                    {{ page.vimeo-embed }}
                                </div>
                            {% endif %}
                        {% elsif page.type == "youtube" %}
                            {% if page.yt-video-id %}
                                <div class="video-container-full-page">
                                    <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        {% endif %}
                    </article>
                    <div class="post-nav">
                        {% if page.next.url %}
                        <a class="btn prev" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left"></i><span class="short">prev</span><span class="long">ious project </span></a>
                        {% endif %}
                        {% if page.previous.url %}
                        <a class="btn next" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><span class="short">next </span><span class="long">project</span><i class="fa fa-angle-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
